BasedOnStyle: Chromium
BreakBeforeBraces: Allman
ColumnLimit: 140
IndentWidth: 4
Language: Cpp
TabWidth: 4
UseTab: Never
KeepEmptyLinesAtTheStartOfBlocks: true
AccessModifierOffset: -4
SortIncludes: 'CaseSensitive'
BinPackParameters: true
BinPackArguments: true
ReflowComments: true
