
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/math"]
	path = extern/math
	url = https://github.com/praetorian555/math.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
